<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ static_url("img/favicon.ico") }}">
    <title>Sticky Footer Template for Bootstrap</title>
    <!-- Bootstrap core CSS -->
    <link href="{{ static_url("css/bootstrap.min.css") }}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{{ static_url("css/style.css") }}" rel="stylesheet">
    {% block extra_js %}{% end %}
  </head>
  <body>

    <!-- Begin page content -->
    <main role="main" class="container">
      <h1 class="mt-5">Notícias Legais</h1>
      <div class="news">
        {% block content %}
        {% end %}
      </div>
    </main>
    <footer class="footer">
      <div class="container">
        <span class="text-muted">Legal.com.br</span>
      </div>
    </footer>
  </body>
</html>
